@media only screen and (min-width:300px){

body{
  background-color: #3b3b48;
  margin: 0;
  padding:0;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
  margin: auto auto;
  width: 90%;
}


}

@media only screen and (min-width:740px){


  .graphs{
    min-width: 40%;
    margin:1%;
    padding:2%;
  }

  .distance{
    min-width: 80%;
    margin:1%;
    padding:2%;

  }
  div {
      display: flex;
      background: #202029;
      text-align: center;
      justify-content: space-around;

  }

}

@media only screen and (min-width:1024px){


}

@media only screen and (min-width:1300px){


}
